
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>National Park Weather System</title>
    <link rel="stylesheet" href="~/Content/park.css">
</head>

<body>
    <header>
        <img src="~/Content/img/logo.png" alt="National Park Weather logo" />
        <h1>Explore the National Park Weather System</h1>
    </header>
    <nav>
        <p> Use these state of the art web applications to learn more about your National Parks! </p>
        <ul>
            <li>@Html.ActionLink("List of Parks", "Home", "Home")</li>
            <li>@Html.ActionLink("Daily Survey", "DailySurvey", "Home")</li>
            <li>
                Celsius: @Html.RadioButton("temperatureType", "Celsius")
                Fahrenheit: @Html.RadioButton("temperatureType", "Fahrenheit")
            </li>
        </ul>
    </nav>

    <section class="centeredPanel">
        @RenderBody()
    </section>

</body>
</html>
