@using Capstone.Web.Models;
@model List<Park>
@{
    ViewBag.Title = "DailySurvey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="pageHeader">Daily Survey</h2>

@using (Html.BeginForm("SurveyResults", "Home"))
{
    <table align="center">

        <tr>
            <td>@Html.Label("Which park is your favorite park?")</td>
            <td>@Html.DropDownList("FavoritePark", (List<SelectListItem>)ViewBag.ParkNames, new { style = "font-size:100%;" })</td>
        </tr>
        <tr>
            <td>@Html.Label("What activity level are you currently enjoying?")</td>
            <td>@Html.DropDownList("activityLevel", (List<SelectListItem>)ViewBag.ActivityLevels, new { style = "font-size:100%;" })</td>
        </tr>
        <tr>
            <td>@Html.Label("Which State are you traveling from?")</td>
            <td>@Html.DropDownList("state", (List<SelectListItem>)ViewBag.StateNames, new { style = "font-size:100%;" })</td>
        </tr>
        <tr>
            <td>@Html.Label("Please enter your email address:")</td>
            <td>@Html.TextBox("email")</td>
        </tr>
    </table>

    <div align="center">
        <input value="Submit" type="submit" id="inputButton"/>
    </div>
}