@using Capstone.Web.Models;

@model Park
@{
    ViewBag.Title = "DetailPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string imagesource = "/Content/img/parkimages/" + Model.ParkCode + ".jpg";
}
<div align ="center">
    <font size="250" color="white">@Model.ParkName, @Model.State</font>
</div>
<table>
    <tr>
        <td><img src=@imagesource /></td>
        <td>
            <ul style="list-style: none">
                <li>@Model.Description</li>
                <li></li>
                <li>Park Acreage: @Model.Acreage, Park Elevation: @Model.Elevation, Miles of Trail: @Model.MilesOfTrail</li>
                <li>Number of Campsites: @Model.NumberOfCampsite, Year Founded: @Model.YearFounded, Annual Visitors: @Model.AnnualVisitors</li>
                <li>Climate: @Model.Climate, Entry $: @Model.EntryFee, Number of Species: @Model.NumberOfAnimalSpecies</li>
                <li></li>
                <li><strong>Quote:</strong> @Model.Quote ~ @Model.QuoteSource</li>

            </ul>
        </td>
    </tr>

</table>

<div class="forecasts" align ="center">
    <h2>5 Day Forecast</h2>
    <table>
        @foreach (Forecast f in Model.FiveDayForecasts)
        {
            <tr>
                <td>Day @f.DayNumber</td>
                <td><img src="@f.ImagePath" /></td>
                <td>
                    Low @f.LowTemperature / High @f.HighTemperature
                    <br />
                    @f.ForecastAdvice
                </td>
            </tr>
        }
    </table>
</div>