@using Capstone.Web.Models;
@model List<Survey>
@{
    ViewBag.Title = "SurveyResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="pageHeader">Survey Results</h2>
<h2 style="color: darkblue">Congratulations <font color="white">@ViewBag.WinningPark </font> you are our favorite National Park!</h2>

<div align="center">
    <table>
        <tr>
            <th style="color: darkblue"; width="35%" align="left">Favorite Park</th>
            <th style="color: darkblue"; width="25%" align="left">Email Address</th>
            <th style="color: darkblue"; width="20%" align="left">Home State</th>
            <th style="color: darkblue"; width="20%" align="left">Activity Level</th>
        </tr>
        @foreach (Survey s in Model)
        {

            <tr>
                <td>@s.ParkName</td>
                <td>@s.EmailAddress</td>
                <td>@s.State</td>
                <td>@s.ActivityLevel</td>
            </tr>

        }
    </table>
</div>